* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #7fc7d9;
}

.display {
  display: flex;
  padding: 20px;
  align-self: flex-start;
}

.header {
  text-align: center;
  padding-bottom: 25px;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #00475D;
  padding-left: 25px;
}

.img {
  width: auto;
  max-width: 125px;
  height: auto;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.table {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #00475D;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  margin: auto;
  width: auto;
  height: auto;
  max-height: 80vh;
  display: block;
  overflow-y: scroll;
  background-color: #D3E8E0;
  border-style: solid;
  border-color: #2D637F;
  border-width: 3px;
  border-radius: 5px;
}

td {
  border: 1px solid;
}

.chart {
  flex: 1;
  position: relative;
  margin: auto;
  width: auto;
  max-width: 1100px;
  height: auto;
  background-color: #D3E8E0;
  margin-left: 100px;
  border-style: solid;
  border-color: #2D637F;
  border-width: 3px;
  border-radius: 5px;
}
